<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <div class="footer-columns">
            <div class="footer-col">
                <h3>Locafit</h3>
                <ul>
                    <li><a href="#">Qui sommes-nous ?</a></li>
                    <li><a href="#">Recrutement</a></li>
                    <li><a href="#">Presse et actualité</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Service client</h3>
                <ul>
                    <li><a href="#">Conditions de location</a></li>
                    <li><a href="#">Résilier mon abonnement de vélo</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Nos services</h3>
                <ul>
                    <li><a href="#">Louer votre matériel</a></li>
                    <li><a href="#">Entretenir et réparer</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

