<header>
    <nav>
        <div class="logo">
            <img src="/public/img/Logo.png" id="logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">Équipement</a></li>
            <li><a href="#">Matériel</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Structures</a></li>
        </ul>
        <div class="nav-icons">
            <a href="#"><img src="cart-icon.png" alt="Panier"></a>
            <a href="#"><img src="user-icon.png" alt="Compte"></a>
        </div>
    </nav>
</header>