<main>

    <p>
        <% Error %>
    </p>
    <form action="/connexion" method="post">
        <label for="">Login :</label>
        <input type="text"/>
        <label for="">Mot de passe :</label>
        <input type="password" name="password"/>
        <input type="submit"/>
    </form>



</main>