<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocFit - Matériel</title>
    <link rel="stylesheet" href="/css/materiel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('header'); -%>

    <section class="search-material">
        <input type="text" placeholder="Rechercher du matériel">
        <button><img src="/img/chercher.png" alt="Rechercher"></button>
    </section>

    <section class="material-grid">
        <a href="/product">
            <img src="/img/materiel1.avif" alt="velimg" id="velimg">
        </a>
        <a href="/product">
            <img src="/img/materiel2.avif" alt="velimg" id="velimg">
        </a>
        <a href="/product">
            <img src="/img/materiel3.avif" alt="velimg" id="velimg">
        </a>
        <a href="/product">
            <img src="/img/materiel4.avif" alt="velimg" id="velimg">
        </a>
        <a href="/product">
            <img src="/img/materiel5.avif" alt="velimg" id="velimg">



        </a>
    </section>

    <%- include('footer'); -%>

</body>
</html>