<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locafit - Matériel</title>
    <link rel="stylesheet" href="/css/materiel.css">
</head>
<body>

    <%- include('header'); -%>

    <section class="search-material">
        <input type="text" placeholder="Rechercher du matériel">
        <button><img src="/images/search-icon.png" alt="Rechercher"></button>
    </section>

    <section class="material-grid">
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
        <a href="/product">
            <img src="/public/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
        </a>
    </section>

    <%- include('footer'); -%>

</body>
</html>