<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit - Vélo d'appartement</title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    <%- include('header'); -%>

    <main>
        <section class="product-detail">

            <div class="product-image">
                <img src="/img/velo-d-appartement-compact-technogym-cycle-removebg-preview.png" alt="Vélo d'appartement">
            </div>

            <div class="product-header">
                <h1 id="titreprdt">Vélo d'appartement</h1>
                <p id="restant">5 Disponibles</p>
                <p class="price" id="prixprdt">15 € <span>/ jour</span></p>
                <button class="btnprdt" id="btnprdt">Ajouter au panier</button>
            </div>
             
            <div class="product-description">
                <p>
                    Le vélo d'appartement est un équipement de fitness compact et ergonomique, idéal pour les séances de cardio à domicile.
                    Doté de plusieurs niveaux de résistance, il permet de simuler différents terrains et d'ajuster l'intensité de l'entraînement selon les objectifs.
                </p>
            </div>

            <div class="product-muscles">
                <h2>Muscles sollicités :</h2>
                <ul>
                    <li><strong>Quadriceps :</strong> Les muscles situés à l'avant des cuisses sont fortement engagés lors du pédalage.</li>
                    <li><strong>Ischio-jambiers :</strong> Les muscles à l'arrière des cuisses travaillent pour la flexion du genou pendant le cycle de pédalage.</li>
                    <li><strong>Mollets :</strong> Les muscles des mollets sont sollicités à chaque poussée et remontée de la pédale.</li>
                    <li><strong>Fessiers :</strong> Les pédales engagent les muscles des fesses, surtout à haute résistance ou en position debout.</li>
                    <li><strong>Abdominaux :</strong> Les muscles du tronc sont sollicités pour stabiliser le corps en particulier si vous pédalez en position inclinée.</li>
                    <li><strong>Lombaires :</strong> Les muscles du bas du dos aident à maintenir une posture stable.</li>
                    <li><strong>Haut du corps (secondairement) :</strong> Les bras et les épaules peuvent également être engagés.</li>
                </ul>
            </div>
        </section>
    </main>

    <%- include('footer'); -%>

</body>
</html>
