/* Footer */
footer {
    background-color: #ECECEC;
    color: rgb(0, 0, 0);
    padding: 40px;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-col ul li a:hover {
    color: rgb(115, 0, 255);
    text-decoration: none; 
    transform: translateY(-2px); 
}