

#index.ejs{
    background-color: #8A8FA3;
}

* {
    margin: -50;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    background-color: #8A8FA3;
}

body {
    background-color: #8A8FA3;
    color: #333;
}



/* Section A propos */
.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #8A8FA3;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image img {
    width: 300px;
}


.btn {
    padding: 10px 20px;
    background-color: #8A8FA3;
    color: #374254;
    font-family: Montserrat;
    font-size: 16px;
    border: 1px solid #374254;
    text-decoration: none;
    background-image: linear-gradient(to right, #8A8FA3 50%, #374254 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.5s ease, color 0.5s ease;
}

.btn:hover {
    background-position: right bottom; 
    color: #ADBBC6; 
    border: 1px solid #ADBBC6;
}


/* Carousel */
.carousel {
    background-color: #8A8FA3;
    padding: 30px 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carousel-item img {
    height: 150px;
}

/* Section haltères */
.dumbbells {
    text-align: center;
    padding: 50px 0;
    background-color: #8A8FA3;

}

.dumbbells h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.dumbbells p {
    font-size: 18px;
    margin-bottom: 20px;
}

.dumbbells img {
    height: 150px;
}

