#bodyinfo{
    background-color: #8A8FA3;
}

#titreinfo{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 100px;
    font-size: 40px;

}
#texteinfo{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

#bouttonmaterial{
    justify-content: center;
    align-items: center;
}