* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;

}

body {
    background-color: #d8d8d8;
    color: #333;
}

.search-material {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ececec;
}

.search-material input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.search-material button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.search-material img {
    height: 25px;
}

.material-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: #f0f0f0;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

#velimg{
    width: 250px;
    height: 250px;
}