* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;

}

body {
    background-color: #8A8FA3;
    color: #333;
}

.search-material {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ececec;
}


.search-material input {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid #ddd; 
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    background-color: #f8f8f8;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-material input:focus {
    border-color: #8A8FA3; 
    box-shadow: 0 0 8px rgba(138, 143, 163, 0.6); 
    background-color: #fff;
}

.search-material input:not(:placeholder-shown) {
    border-color: #8A8FA3; 
    box-shadow: 0 0 8px rgba(138, 143, 163, 0.6); 
}





.search-material button {
    background-color: #374254; 
    border: 2px solid #8a8fa3; 
    border-radius: 50px; 
    cursor: pointer;
    padding: 8px 18px; 
    margin-left: 10px;
    color: #ececec; 
    font-size: 14px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.search-material button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(173, 187, 198, 0.6), transparent);
    transition: all 0.6s ease;
}

.search-material button:hover::before {
    left: 100%;
}

.search-material button:hover {
    background-color: #8a8fa3; 
    color: #374254; 
    box-shadow: 0 0 15px rgba(138, 143, 163, 0.8); 
}

.search-material button:active {
    transform: scale(0.95); 
}







.search-material img {
    height: 25px;
}

.material-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: #8A8FA3;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

#velimg {
    width: 250px;
    height: 250px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    border-radius: 5px; 
    box-shadow: 0px 0px 25px rgba(0, 255, 255, 0.2); 
    position: relative;
    overflow: hidden; 
}

#velimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(0, 255, 255, 0.4), transparent);
    transition: left 0.5s ease;
}

#velimg:hover::before {
    left: 150%; 
}

#velimg:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.4); 
    cursor: pointer;
}


#productimg{
    align-items: center;
    background-color: #d8d8d8;
    border-radius: 5px;
    border-color: #374254;
}