* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;

}

body {
    background-color: #d8d8d8;
    color: #333;
}

.search-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ececec;
}


.search-structure input {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid #ddd; 
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    background-color: #f8f8f8;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-structure input:focus {
    border-color: #8A8FA3; 
    box-shadow: 0 0 8px rgba(138, 143, 163, 0.6); 
    background-color: #fff;
}

.search-structure input:not(:placeholder-shown) {
    border-color: #8A8FA3; 
    box-shadow: 0 0 8px rgba(138, 143, 163, 0.6); 
}

/***************************/



.search-structure button {
    background-color: #374254; 
    border: 2px solid #8a8fa3; 
    border-radius: 50px; 
    cursor: pointer;
    padding: 8px 18px; 
    margin-left: 10px;
    color: #ececec; 
    font-size: 14px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.search-structure button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(173, 187, 198, 0.6), transparent); 
    transition: all 0.6s ease;
}

.search-structure button:hover::before {
    left: 100%;
}

.search-structure button:hover {
    background-color: #8a8fa3; 
    color: #374254; 
    box-shadow: 0 0 15px rgba(138, 143, 163, 0.8); 
}

.search-structure button:active {
    transform: scale(0.95);
}




/**********************/

/*.search-material button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}*/

.search-structure img {
    height: 25px;
}

.structure-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: #8A8FA3;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

#velimg{
    width: 250px;
    height: 250px;
}